* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

.search-controls {
    display: flex;
    flex-direction: column;
    align-items: center;      
    gap: 16px;                
    margin: 24px 0;
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

Footer{
    margin-top: auto;
}