.nav__link {
    color: white;
    text-decoration: none;
    padding-left: 24px;
    padding-right: 24px;
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8b0000;
    padding: 12px 24px 24px 12px;
}

.btn {
    border-radius: 500px;
    border: none;
    color: black;
    background-color: gold;
    padding: 8px 24px;
    font-size: 14px;
    cursor: pointer;
}

.logo__img {
    max-width: 50%;
    min-height: 50%;
}